# Section 1

**1. Write a program to demonstrate all the Arithmetic operators**

In [ ]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
print("Addition : ",a+b)
print("Substraction : ",a-b)
print("Multiplication : ",a*b)
print("Division : ",a/b)
print("Floor division : ",a//b)
print("Modulus : ",a%b)
print("a power b : ",a**b)

Enter a : 1000
Enter b : 20
Addition :  1020
Substraction :  980
Multiplication :  20000
Division :  50.0
Floor division :  50
Modulus :  0
a power b :  1000000000000000000000000000000000000000000000000000000000000

**2. Write a program to demonstrate all the Bitwise operators**

In [ ]:
a = int(input("Enter a :"))
b = int(input("Enter b: "))
print("a AND b : ",a&b)
print("a OR b : ",a|b)
print("a XOR b : ",a^b)
print("NOT a : ",~a)
print("a left shift b : ",a<<b)
print("a right shift b : ",a>>b)

Enter a :120
Enter b: 200
a AND b :  72
a OR b :  248
a XOR b :  176
NOT a :  -121
a left shift b :  192832565311078833065035451080939512302664359253935140236165120
a right shift b :  0

**3. Write a program to check whether a value is present in a sequence type, dictionary or set**

In [ ]:
# list
list_a = [10,345,23,45,50,60]
a = int(input("Enter the value to check: "))
if a in list_a:
  print("{} is present in the list".format(a))
else:
  print("{} is not present in the list".format(a))

Enter the value to check: 345
345 is present in the list

In [ ]:
# set
set_a = {10, 20,234123, 345234, 8954495}
a = int(input("Enter the value to check: "))
if a in set_a:
  print("{} is present in the list".format(a))
else:
  print("{} is no present in the list".format(a))

Enter the value to check: 8954495
8954495 is present in the list

In [ ]:
# dictionary
dict_a = {"a":234,"b":45,"c":909,"d":5655}
a = int(input("Enter the value to check: "))
if a in dict_a.values():
  print("{} is present in the list".format(a))
else:
  print("{} is no present in the list".format(a))

Enter the value to check: 5655
5655 is present in the list

**4. Write a program to check whether two variables are identical or not (use
different types of variables and check)**

In [ ]:
a = input("Enter a : ")
b = input("Enter b :")
c = a

if a is b:
  print("Both a and b are identical")
else:
  print("a and b are not identical")

if a is c:
  print("Both a and c are identical")
else:
  print("a and c are not identical")

Enter a : Hemanthsai
Enter b :Hemanthsai
a and b are not identical
Both a and c are identical

**5. Write a program to read studentâ€™s name, age and cgpa and display details as
follows:<br>
Student Details:<br>
Name : yourname<br>
Age : 21<br>
Cgpa : 8.9**<br>

In [ ]:
print("Enter the student data: ")
name = input("Enter the name of the student : ")
age = int(input("Enter the age of the student : "))
cgpa = float(input("Enter the cgpa of the student : "))
print("Name : ",name)
print("Age : ",age)
print("Cpga : ",cgpa)

Enter the student data:
Enter the name of the student : Hemanthsai
Enter the age of the student : 19
Enter the cgpa of the student : 9.37
Name :  Hemanthsai
Age :  19
Cpga :  9.37

# Section 2

**1. A company decides to give bonus to all its employees on Diwali. A
5% bonus on salary is given to male workers and 10% bonus on . salary to the female workers. Write a program to enter salary and
gender of the employee and display the salary of the employee after
getting the bonus along with their details.**

In [ ]:
salary = float(input("Enter salary : "))
ename = input("Enter employee name : ")
gender = input("Enter gender (M or F) : ")

if gender == 'M':
  bonus = salary/100 * 5
elif gender == 'F':
  bonus = salary/100 * 10
else:
  print("Incorrect input")

print("\nEmployee salary details")
print("Bonus : ",bonus)
print("Employee name : ",ename)
print("Total : ",salary+bonus)

Enter salary : 190000
Enter employee name : Hemanthsai
Enter gender (M or F) : M

Employee salary details
Bonus :  9500.0
Employee name :  Hemanthsai
Total :  199500.0

**Write program to enter a number and then calculate sum of digits**

In [ ]:
a = int(input("Enter a : "))
sum=0
while(a!=0):
  rem = a%10
  sum=sum+rem
  a=a//10
print(sum)

Enter a : 12345
15

<b>2. Write a program to print multiplication table of n, where n is entered
by the user</b>

In [ ]:
n = int(input("Enter n :"))
print("Multiplication of {}:".format())
for j in range(1,11):
  print("{} x {} = {}".format(n,j,j*n))

Enter n :25

25 x 1 = 25
25 x 2 = 50
25 x 3 = 75
25 x 4 = 100
25 x 5 = 125
25 x 6 = 150
25 x 7 = 175
25 x 8 = 200
25 x 9 = 225
25 x 10 = 250

<b>4. Write a program to determine whether the character entered is a
vowel or not</b>

In [ ]:
vowels = "aeiouAEIOU"
a = input("Enter any letter : ")
if a in vowels:
  print("{} is a vowel".format(a))
else:
  print("{} is not a vowel".format(a))

Enter any letter : E
E is a vowel

<b>5. Write a program to calculate sum of numbers from m to n and if m>n
display error message (Use while loop)</b>

In [ ]:
m = int(input("Enter m : "))
n = int(input("Enter n : "))
if m>n:
  print("Error m cannot be greater that n")
else:
  sum=0
  i=m
  while(i<=n):
    sum=sum+i;
    i=i+1
  print("Sum of numbers from {} to {} is : {}".format(m,n,sum))

Enter m : 21
Enter n : 30
Sum of numbers from 21 to 30 is : 255

<b>6. Write a program to generate the sequence 1, 3, 5, 7, 9â€¦ read n value.
Use for loop
</b>

In [ ]:
n = int(input("Enter n value : "))
for i in range(1,n+1):
  print(2*i-1,end=', ')

Enter n value : 30
1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59,

<b>7. Write a program to print the following pattern.

1<br>
1 2<br>
1 2 3<br>
1 2 3 4</b>

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j," ",end='')
  print()

1
1  2
1  2  3
1  2  3  4

# Section 3

<b>1. Write a program to demonstrate string traversal using indexing
</b>

In [ ]:
s = input("Enter a string : ")
print("The string is : ")
for i in range(len(s)):
  print(s[i],end='')

Enter a string : My name is Hemanthsai
The string is :
My name is Hemanthsai

<b>2. Write a program to demonstrate slicing on strings</b>

In [ ]:
s = "Artificial Intelligence"

print(s[:])
print(s[::])
print(s[0])
print(s[-1])
print(s[0:])
print(s[:-1])
print(s[0:6])
print(s[0::2])
print(s[0:10:2])
print("String reverse: ",s[::-1])

Artificial Intelligence
Artificial Intelligence
A
e
Artificial Intelligence
Artificial Intelligenc
Artifi
Atfca nelgne
Atfca
String reverse:  ecnegilletnI laicifitrA

<b>3. Write a program to print the following pattern

A<br>
AB<br>
ABC<br>
ABCD<br>
</b>

In [ ]:
n = int(input("Enter n : "))
for i in range(ord('A'),ord('A')+n):
  for j in range(ord('A'),i+1):
    print(chr(j),end='')
  print()

Enter n : 4
A
AB
ABC
ABCD

<b>4. Write a program that takes userâ€™s name, phone number and PAN card
number as input. Validate the information using isX function and print
the details.</b>

In [ ]:
def get_data():
  username = input("Enter username : ")
  phone = input("Enter phone number : ")
  pan = input("Enter the PAN card number : ")

  print("\nUser data\n")
  if username.isalnum():
    print("Username : ",username)
  else:
    print("Invalid username, Username must be alphanumeric, Spaces are not allowed")

  if phone.isnumeric() and len(phone)==10:
    print("Phone number : ",phone)
  else:
    print("Invalid phone number, Must be numeric and 10 digit")

  if pan.isalnum() and len(pan)==10:
    print("PAN card number : ",pan)
  else:
    print("Invalid PAN card number. Must be alphanumeric and 10 digit")

In [ ]:
get_data()

Enter username : hemanthsai
Enter phone number : 7995245997
Enter the PAN card number : 1234567890

User data

Username :  hemanthsai
Phone number :  7995245997
PAN card number :  1234567890

In [ ]:
get_data()

Enter username : hemanth sai
Enter phone number : 12345
Enter the PAN card number : 890

User data

Invalid username, Username must be alphanumeric, Spaces are not allowed
Invalid phone number, Must be numeric and 10 digit
Invalid PAN card number. Must be alphanumeric and 10 digit

<b>5. Write a program that accepts a string from user and displays the same
string after removing vowels from it</b>

In [ ]:
s1 = input("Enter a string : ")
vowels = "aeiouAEIOU"
s2 = ""
for i in s1:
  if i not in vowels:
    s2=s2+i

print("String without vowels : ",s2)

Enter a string : Essentials of Python
String without vowels :  ssntls f Pythn

<b>6. Write a program that reads a string and displays the number of
occurrences of each character in the entered string</b>

In [ ]:
s1 = input("Enter a string : ")
s2 = ""
for i in s1:
  if i not in s2:
    s2=s2+i

for i in s2:
  count=s1.count(i)
  print("Number of occurences of {} : {}".format(i,count))

Enter a string : aabbbcccc
Number of occurences of a : 2
Number of occurences of b : 3
Number of occurences of c : 4

<b>7. Write a program to illustrate upper(), lower(), find(),split(),join(), and
replace() methods on a string object</b>

In [ ]:
s = "Hemanthsai"
print(".upper() : ",s.upper())
print() 

s="hEmAnThSaI"
print(".lower() : ",s.lower())
print()

s = "Vidya Jyothi Institute of Technology"
print("find J : ",s.find("J"))
print("find Jyothi : ",s.find("Jyothi"))
print("find j : ",s.find("j"))
print("find Tech : ",s.find("Tech"))
print("find i between index 6 to end : ",s.find("i",6))
print()

s = "Vidya Jyothi Institute of Technology"
print("Split with space : ",s.split())
s = "1,2,3,4,5,6,7,8,9,10"
print("Split with ',' : ",s.split(','))
print()

s = "AAAAA BBBBB CCCCC DDDD"
print(s.replace("A","a"))
print(s.replace("B","b"))
print(s.replace(" ","+"))
print(s.replace("A",'@',2))
print(s.replace("D","d",3))
print(s.replace("CCC","DDD"))
print()

s1 = "My"
s2 = "name"
s3 = "is"
s4 = "Hemantsai"
print(" ".join((s1,s2,s3,s4)))
print("+".join((s1,s2,s3,s4)))
print(".".join((s1,s2,s3,s4)))
print("^".join((s1,s2,s3,s4)))

.upper() :  HEMANTHSAI

.lower() :  hemanthsai

find J :  6
find Jyothi :  6
find j :  -1
find Tech :  26
find i between index 6 to end :  11

Split with space :  ['Vidya', 'Jyothi', 'Institute', 'of', 'Technology']
Split with ',' :  ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

aaaaa BBBBB CCCCC DDDD
AAAAA bbbbb CCCCC DDDD
AAAAA+BBBBB+CCCCC+DDDD
@@AAA BBBBB CCCCC DDDD
AAAAA BBBBB CCCCC dddD
AAAAA BBBBB DDDCC DDDD

My name is Hemantsai
My+name+is+Hemantsai
My.name.is.Hemantsai
My^name^is^Hemantsai

<b>8. Write a program to check whether a string is a palindrome or not</b>

In [ ]:
def isPalindrome(s):
  if s == s[::-1]:
    print("Palindrome")
  else:
    print("Not a Palindrome")

In [ ]:
isPalindrome("Hemanthsai")

Not a Palindrome

In [ ]:
isPalindrome("1111221111")

Palindrome

In [ ]:
isPalindrome("AACCAA")

Palindrome

<b>9. Write a program that takes list of words and print the longest word
along with its length</b>

In [ ]:
word_list = input("Enter words (space seperated) : ").split()

long_word = word_list[0]

for i in word_list:
  if len(long_word) <= len(i):
    long_word = i

print("Longed word is : '{}' of length : '{}'".format(long_word,len(long_word)))

Enter words (space seperated) : My name is Hemanth Sai
Longed word is : 'Hemanth' of length : '7'

<b>10. Write a program to count number of characters, words and lines in the
given string</b>

In [ ]:
s = "My name is Hemanthsai \nI am studying B.Tech 2nd year \nCollege VJIT \nBranch Artificial Intelligence"
print(s)

My name is Hemanthsai
I am studying B.Tech 2nd year
College VJIT
Branch Artificial Intelligence

In [ ]:
print("Number of characters : ",len(s))
print("Number of words : ",len(s.split()))
print("Number of lines : ",s.count("\n")+1)

Number of characters :  98
Number of words :  15
Number of lines :  4

# Section 4
<b> Programs on Functions</b>

<b>1. Write a program using function ,which takes hours and minute and return
time in minutes</b>

In [3]:
def get_minutes(hr,min):
  return hr*60 + min

In [4]:
get_minutes(24,0)

1440

In [9]:
get_minutes(248374,938460)

15840900

In [10]:
get_minutes(78675,8987)

4729487

<b>2. Write program that finds greatest of 3 numbers using functions. Pass the
numbers as arguments
</b>

In [11]:
def get_greatest(a,b,c):
  if a>=b and a>=c:
    return a
  elif b>=a and b>=c:
    return b
  else:
    return c

In [12]:
get_greatest(1923,12345343,8595)

12345343

In [13]:
get_greatest(-123123123,-3123123,0)

0

<b>3. Write a function is_prime() that returns 1 if the argument passed to it is a
prime number and 0 otherwise</b>

In [17]:
import math
def is_prime(n):
  if n==0 or n==1:
    return 0
  else:
    for i in range(2,int(math.sqrt(n))):
      if(n%i==0):
        return 0
    
    return 1

In [18]:
is_prime(97)

1

In [19]:
is_prime(2)

1

In [21]:
is_prime(10)

0

In [24]:
is_prime(104729)

1

<b>4. Write a function that accepts an integer from 1 â€“ 12 to represent the month
number and display the corresponding month of the year</b>

In [30]:
def get_month(n):
  months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
  return months[n-1]

In [32]:
for i in range(1,13):
  print(i,get_month(i))

1 Jan
2 Feb
3 Mar
4 Apr
5 May
6 Jun
7 Jul
8 Aug
9 Sep
10 Oct
11 Nov
12 Dec

<b>5. Write a program using function, which takes student rollno and 5 subjects
marks as arguments and returns the average of marks</b>

In [46]:
def get_average(roll,m1,m2,m3,m4,m5):
  return sum([m1,m2,m3,m4,m5])/5

In [47]:
get_average("19911A3518",10,10,20,20,10)

14.0

In [48]:
get_average("19911A3520",100,590,109,200,100)

219.8

<b>6. Write a function which takes rollno, name and course as argument and print
details. When course is not passed then by default â€˜B.Techâ€™ has to be
assigned
</b>

In [49]:
def student_data(roll, name, course="B.Tech"):
  print("Student Details:")
  print("Roll No. : ",roll)
  print("Name : ",name)
  print("Course : ",course)

In [50]:
student_data(3518,"Hemanthsai","B.Tech AI")

Student Details:
Roll No. :  3518
Name :  Hemanthsai
Course :  B.Tech AI

In [51]:
student_data(3520,"Dhana Shekhar")

Student Details:
Roll No. :  3520
Name :  Dhana Shekhar
Course :  B.Tech

<b>7. Write a program to generate Fibonacci series up to â€˜nâ€™. Use recursion</b>

In [67]:
def get_fibo(n):
  if n<=1:
    return n
  else:
    return get_fibo(n-1)+get_fibo(n-2)
def fibonacci(n):
  for i in range(n):
    print(get_fibo(i),end=', ')

In [68]:
fibonacci(5)

0, 1, 1, 2, 3,

In [70]:
fibonacci(10)

0, 1, 1, 2, 3, 5, 8, 13, 21, 34,

<b>8. Write a program using function to perform calculator operations (Addition,
subtraction, multiplication, division, modulus, exponentâ€¦) </b>

In [73]:
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def div(a,b):
  return a/b
def mod(a,b):
  return a%b
def exp(a,b):
  return a**b
def floor_div(a,b):
  return a//b

In [74]:
add(131223123,82394234)

213617357

In [76]:
sub(858738384,28383594)

830354790

In [79]:
div(1229940231,342)

3596316.464912281

In [81]:
mod(123123123,995)

828

In [83]:
exp(123123,123)

129336241728650104063005267188675192916614756434704474403157616872309908012207197738386200761661168978215912934146385688570796417822829078887050390385340079110024331869245374061288183475830424765006150102899275443342836490573403909471781667053771924143600789320162610745521802156782197470805582685786896123617358493091652670990027268723065945209180701392147985416584509754009417050005770455715001605168304259147620637594168205035621239621077086375818736872813265776966244640684766848573399914404707526432478904859818953114856028065101963079588288014370306745637300459051258226717472901634613226210780876112840648799730751680267

In [85]:
floor_div(45323,234)

193

<b>9. Write a program to count number of times a recursive function is called</b>

In [100]:
count=0
def get_fibo(n):
  global count
  count=count+1
  if n<=1:
    return n
  else:
    return get_fibo(n-1)+get_fibo(n-2)

get_fibo(30)
print("Number of times function called : ",count)

Number of times function called :  2692537

<b>10. Write a program to compute F(M, N) , where F(M, N) can be recursively
defined as

F(M, N) = 1 if M=0 or M >= N >= 1

F(M, N) = F(M-1, N) + F(M-1, N-1)
 otherwise</b>

In [102]:
def F(M,N):
  if M==0 or (M>=N and M>=1):
    return 1
  else:
    return F(M-1,N) + F(M-1,N-1)

In [103]:
F(0,1)

1

In [104]:
F(2,2)

1

In [105]:
F(3,1)

1

In [106]:
F(12,31)

4096

# Section 5

<b>1. Write a python program to find sum of elements in a list</b>

In [110]:
a = input("Enter a list of elements : ").split()
sum=0
for i in a:
  sum=sum+int(i)
print("Sum of the elements is :  ",sum)

Enter a list of elements : 100 900 345 234 800
Sum of the elements is :   2379

<b>2. Write a program to find largest and second largest number in a list</b>

In [123]:
def largest():
  a = input("Enter a list of elements : ").split()
  a = list(set(a))
  a.sort()
  print("First largest element : ",a[-1])
  if len(a)==1:
    print("Second largest element : ",a[-1])
  else:
    print("Second largest element : ",a[-2])

In [124]:
largest()

Enter a list of elements : 10 32 1 2 2 2  10 31 32 43
First largest element :  43
Second largest element :  32

In [125]:
largest()

Enter a list of elements : 1 1 1 1 2 2 3 3 3 3 4 4 4 5 5
First largest element :  5
Second largest element :  4

<b>3. Write a program to interchange first and last elements in a list</b>

In [146]:
a = input("Enter a list of elements : ").split()
print("Before swapping : ",a)
a[0],a[-1]=a[-1],a[0]
print("After swapping first and last element",a)

Enter a list of elements : a 1 2 3 4 d w e b
Before swapping :  ['a', '1', '2', '3', '4', 'd', 'w', 'e', 'b']
After swapping first and last element ['b', '1', '2', '3', '4', 'd', 'w', 'e', 'a']

<b>4. Write a Program to multiply two matrices using list</b>

In [130]:
mat_a = [
         [1,1,1],
         [1,1,1],
         [1,1,1]
]
mat_b = [
         [1,1,1],
         [1,1,1],
         [1,1,1]
]
print("Multiplication of mat_b and mat_b")
for i in range(3):
  for j in range(3):
    sum=0
    for k in range(3):
      sum=sum+mat_a[i][k]*mat_b[k][j]
    print(sum,end=' ')
  print()

Multiplication of mat_b and mat_b
3 3 3
3 3 3
3 3 3

<b>5. Write a program to Transpose a matrix using list</b>

In [134]:
mat_a = [
         [1,2,3],
         [4,5,6],
         [7,8,9]
]

print("Transpose of mat_a : ")
for i in range(3):
  for j in range(3):
    print(mat_a[j][i],end=' ')
  print()

Transpose of mat_a :
1 4 7
2 5 8
3 6 9

<b>6. Write a program to implement stack operations using list</b>

In [152]:
stack = list()
def push(a):
  global stack
  stack.append(a)
  print("{} is inserted".format(a))

def pop():
  global stack
  print("{} popped out",stack.pop())

def display():
  global stack
  print(stack)

In [153]:
push(10)
push(20)
push(40)
push(100)
push(290)

10 is inserted
20 is inserted
40 is inserted
100 is inserted
290 is inserted

In [154]:
display()

[10, 20, 40, 100, 290]

In [155]:
pop()
pop()
display()

{} popped out 290
{} popped out 100
[10, 20, 40]

<b>7. Write a program to print the number of occurrences of a character in a given string
using dictionary

Example:

Input: â€˜Helloâ€™

Output: {â€˜Hâ€™:1,â€™eâ€™:1, â€™lâ€™:2, â€™oâ€™:1}</b>

In [158]:
s = input("Enter a string : ")
char_list = list()
for i in s:
  char_list.append(i)
chars = list(set(char_list))

count_dict = dict()

for char in chars:
  count_dict.update({char:char_list.count(char)})

print("Number of occurrences dictionary")
print(count_dict)

Enter a string : artificial
Number of occurrences dictionary
{'t': 1, 'f': 1, 'i': 3, 'c': 1, 'l': 1, 'a': 2, 'r': 1}

<b>8. Write a python program to print keys and values using predefined functions</b>

In [160]:
my_dict = {"Name":"Hemanthsai","ROll":3518,"Branch":"AIE","College":"VJIT"}
print(my_dict.keys())
print(my_dict.values())

dict_keys(['Name', 'ROll', 'Branch', 'College'])
dict_values(['Hemanthsai', 3518, 'AIE', 'VJIT'])

<b>9. Write a program to print a histogram of frequencies of characters occurring in a
string

Example:

Msg= â€˜helloworldâ€™

Example Output:

h *<br>
e *<br>
l ***<br>
o **<br>
w *<br>
r *<br>
d *
</b>

In [162]:
s1 = input("Enter a string : ")
s2 = ""
for i in s1:
  if i not in s2:
    s2=s2+i

for i in s2:
  count=s1.count(i)
  print(i,"*"*count)

Enter a string : vidya jyothi institute of technology
v *
i ****
d *
y ***
a *
  ****
j *
o ****
t *****
h **
n **
s *
u *
e **
f *
c *
l *
g *

<b>10. Write a program that reads a string and print the occurrence of each word in the
dictionary format.<br>
Example:<br>
Str = â€˜how much wood would a woodchuck chuck if a woodchuck could chuck woodâ€™<br>
{ â€˜howâ€™: 1, â€˜muchâ€™:1, â€˜woodâ€™:2, â€˜wouldâ€™:1, â€˜aâ€™:2, â€˜woodchuckâ€™:2â€¦.}<br>
</b>

In [166]:
s1 = input("Enter a string : ")
s2 = []
count_dict = dict()
for i in s1.split():
  if i not in s2:
    s2.append(i)

for i in s2:
  count=s1.split().count(i)
  count_dict.update({i:count})
print()
print("Number of occurrences of words : ")
print(count_dict)

Enter a string : dont trouble the trouble if you trouble the trouble the trouble troubles you

Number of occurrences of words :
{'dont': 1, 'trouble': 5, 'the': 3, 'if': 1, 'you': 2, 'troubles': 1}

<b>11. Create a dictionary of products purchased and their MRPs. Calculate the bill and
display it to the customer.
</b>

In [170]:
prod_price = {"pen":100,"eraser":20,"notebook":200,"scale":50}
price = 0
print("---Bill---")
for i,j in zip(prod_price.keys(),prod_price.values()):
  print(i," ",j,"/-")
  price=price+j
print("Total Amount : ",price)

---Bill---
pen   100 /-
eraser   20 /-
notebook   200 /-
scale   50 /-
Total Amount :  370

<b>12. Write a program that displays a menu and its price. Take the order from the
customer. Check if the ordered product is in the menu. In case it is not present, the customer should be asked to reorder. And if it is present then product should be
added in the bill.</b>

In [193]:
price = 0
price_list = [60,120,150,120,140,180]
items=['Veg Burger','Chicken Burger','Turkey Burger','Pan Pizza','Italian Veg Pizza','Mexican Chicken Pizza']
cart=list()
def menu():
  print("-------Menu-------")
  print("\n---Burgers---\n")
  print("1. Veg Burger      60/-")
  print("2. Chicken Burger 120/-")
  print("3. Turkey Burger  150/-")
  print("\n---Pizzas---\n")
  print("4. Pan Pizza              120/-")
  print("5. Italian Veg Pizza      140/-")
  print("6. Mexican Chicken Pizza  180/-")

def add_item():
  menu()
  order = int(input("Enter the id of the item from menu : "))
  if order<=6 and order>=1:
    add_to_bill(order)
  else:
    print("\n\nItem not there is the menu. Select again\n\n")
    add_item()

def add_to_bill(order):
  global cart
  cart.append(order)

def get_bill():
  global cart, items, price_list, price
  print("-------Bill-------")
  for i in cart:
    print(items[i-1],"  ",price_list[i-1],"/-")
    price = price + price_list[i-1]
  print("Total Amount : ",price,"/-")
  price=0
  cart=list()

In [195]:
add_item()
add_item()
add_item()
add_item()

-------Menu-------

---Burgers---

1. Veg Burger      60/-
2. Chicken Burger 120/-
3. Turkey Burger  150/-

---Pizzas---

4. Pan Pizza              120/-
5. Italian Veg Pizza      140/-
6. Mexican Chicken Pizza  180/-
Enter the id of the item from menu : 2
-------Menu-------

---Burgers---

1. Veg Burger      60/-
2. Chicken Burger 120/-
3. Turkey Burger  150/-

---Pizzas---

4. Pan Pizza              120/-
5. Italian Veg Pizza      140/-
6. Mexican Chicken Pizza  180/-
Enter the id of the item from menu : 9


Item not there is the menu. Select again


-------Menu-------

---Burgers---

1. Veg Burger      60/-
2. Chicken Burger 120/-
3. Turkey Burger  150/-

---Pizzas---

4. Pan Pizza              120/-
5. Italian Veg Pizza      140/-
6. Mexican Chicken Pizza  180/-
Enter the id of the item from menu : 4
-------Menu-------

---Burgers---

1. Veg Burger      60/-
2. Chicken Burger 120/-
3. Turkey Burger  150/-

---Pizzas---

4. Pan Pizza              120/-
5. Italian Veg Pizza      140/-
6. Mexican Chicken Pizza  180/-
Enter the id of the item from menu : 6
-------Menu-------

---Burgers---

1. Veg Burger      60/-
2. Chicken Burger 120/-
3. Turkey Burger  150/-

---Pizzas---

4. Pan Pizza              120/-
5. Italian Veg Pizza      140/-
6. Mexican Chicken Pizza  180/-
Enter the id of the item from menu : 3

In [196]:
get_bill()

-------Bill-------
Chicken Burger    120 /-
Pan Pizza    120 /-
Mexican Chicken Pizza    180 /-
Turkey Burger    150 /-
Total Amount :  570 /-